* {
    font-family: Tahoma, sans-serif;
    font-size:12px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.actions {
    text-align: right;
}

.actions ul {
    list-style-type: none;
}

.actions ul li {
    display: inline;
    margin-right: 10px;
}

.call {
    border-top: 1px solid gray;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.calls {
    width: 50%;
    float: left;
    border-right: 1px solid gray;
    max-height: 100%;
    overflow: scroll;
}

.results {
    float:left;
    width:49%;
    max-height: 100%;
    overflow: scroll
}

h1 {
    font-size: 15px;
    margin-left: 10px;
}

textarea {
    width: 400px;
    height: 200px;
}

#result
{
	padding: 1em;
	font-family: 'Anonymous Pro', sans-serif !important;
	font-size: 12px;
	margin-top: 10px;
	line-height: 20px;
}

/* Syntax Highlighter Styles */
.pln
{
	color: #000;
}
@media screen
{
	.str
	{
		color: #BBB;
		font-family: 'Anonymous Pro', sans-serif;
		font-size: 12px;
	}
	.kwd
	{
		color: #6f9ac5;
		font-family: 'Anonymous Pro', sans-serif;
		font-size: 12px;
	}
	.com
	{
		color: #800;
		font-family: 'Anonymous Pro', sans-serif;
		font-size: 12px;
	}
	.typ
	{
		color: #606;
		font-family: 'Anonymous Pro', sans-serif;
		font-size: 12px;
	}
	.lit
	{
		color: #6fc5bc;
		font-family: 'Anonymous Pro', sans-serif;
		font-size: 12px;
	}
	.pun, .opn, .clo
	{
		color: #f09158;
		font-family: 'Anonymous Pro', sans-serif;
		font-size: 12px;
	}
	.tag
	{
		color: #008;
		font-family: 'Anonymous Pro', sans-serif;
		font-size: 12px;
	}
	.atn
	{
		color: #606;
		font-family: 'Anonymous Pro', sans-serif;
		font-size: 12px;
	}
	.atv
	{
		color: #080;
		font-family: 'Anonymous Pro', sans-serif;
		font-size: 12px;
	}
	.dec,.var
	{
		color: #606;
		font-family: 'Anonymous Pro', sans-serif;
		font-size: 12px;
	}
	.fun
	{
		color: red;
		font-family: 'Anonymous Pro', sans-serif;
		font-size: 12px;
	}
}
pre.prettyprint
{
	padding: 2px;
	border: none;
	background-color: #222;
	font-family: 'Anonymous Pro', sans-serif;
	font-size: 12px;
	overflow: auto;
}
ol.linenums
{
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Anonymous Pro', sans-serif;
	font-size: 12px;
}
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
{
    color: #444;
    list-style-type: decimal;
	line-height: 20px;
	font-family: 'Anonymous Pro', sans-serif;
	font-size: 12px;
}
li.L1,li.L3,li.L5,li.L7,li.L9
{
	background-color: #272727;
	font-family: 'Anonymous Pro', sans-serif;
	font-size: 12px;
}
li:hover, li.select
{
	background-color: #111;
	font-family: 'Anonymous Pro', sans-serif;
	font-size: 12px;
}
